:root {
  --first-bg-color: #121212;
  --second-bg-color: #303030;
  --first-text-color: #f0f8ff;
  --border-color: #a9a9a9;
  --button-color: #4682b4;
}
.container {
  background-color: var(--first-bg-color);
  color: var(--first-text-color);
}
.standardpart {
  margin-right: 5px;
}
.list-group-item {
  background-color: var(--second-bg-color);
  color: var(--first-text-color);
  border-width: 0cap;
}
.list-group-item p {
  text-align: left;
}
.outcome {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  /* Keep other elements centered if you want them to be centered */
  justify-content: center;
  height: 100%; /* Ensure the container takes the full height */
}
.outcome li {
  text-align: left;
  margin-bottom: 10px;
}
.inform {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.level {
  align-items: center;
  font-size: 30px;
}
.grade {
  align-items: center;
  margin-top: 25%;
  font-size: 20px;
}
.aboutMe {
  color: var(--first-text-color);
  text-align: left;
  padding: 40px;
  margin-bottom: 40px;
}
.aboutMeImage {
  width: 400px;
  height: 400px;
  justify-self: end;
}
.aboutMeHobby {
  text-align: center;
  margin-top: 20px;
}
.aboutMeDescription {
  margin-top: 40px;
  align-items: center;
  /*怎么让他自动在纵向剧中*/
}
.project {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  padding: 40px;
}
.projectImage {
  width: 550px;
  height: 300px;
}
.projectName {
  text-align: center;
  margin-bottom: 20px;
}
